
<script type="text/javascript" src="data.js"></script>
<script src="https://unpkg.com/vue@3"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>
<!--
 <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
-->

<style>

    body {
        background-color: #eee
    }

    .card {
        background-color: #fff;
        padding: 15px;
        border: none
    }

    .input-box {
        position: relative
    }


    .form-control {
        height: 50px;
        background-color: #eeeeee69
    }

    .list {
        padding-top: 20px;
        padding-bottom: 10px;
        display: flex;
        align-items: center
    }

    .border-bottom {
        border-bottom: 2px solid #eee
    }

</style>

<div id="app">

    <div class="container mt-5">
        <div class="row d-flex justify-content-center ">
            <div class="col-md-6">
		<div style="font-size: 30; font-family: Arial, Helvetica, sans-serif; padding: 45px;">
		Welcome to my comic OCR search engine. Please feed it with as many words as you remember from comic you are looking for, as engine is still in prenatal version. Supported sites so far: XKCD, Saturay Breakfast Morning Cereal.
		</div>
                <div class="card">
                    <div class="input-box"  @keyup.enter="send">
                      <input type="text" class="form-control" v-model="search" placeholder="search" />
                    </div>

                    <li class="list border-bottom" v-for="i in result">
                      <a class="d-flex flex-column ml-3" v-bind:href="i[0]">{{i[0]}}</a>
                    </li>

                </div>
            </div>
        </div>
    </div>


</div>

<script>
	  const debuggingToggler = true

  Vue.createApp({
    data() {
      return {
        xkcd: true,
        smbc:true,
        search:'',
        variableForDebuging: "",
        result:{},
        base: {}
      }
    },

    methods:{
      send(event){

        this.result = {}
        for (const [key, value] of Object.entries(this.base)) {

          var matchExists = false;

          this.search.split(' ').forEach((element) => {

            if (value.includes(element.toUpperCase())){
              if (matchExists) { this.result[key] +=1; }
              else {
                matchExists = true;
                this.result[key] = 1;
              }

            }
          });
        }

        var items = Object.keys(this.result).map(
          (key) => { return [key, this.result[key]] });

        items.sort(
          (first, second) => { return first[1] - second[1] }
        ).reverse();
        this.result = items;
      }
    },

    mounted(){

      this.base = data

/*       axios
        .get('/base')
        .then(response => {
            console.log(response)
            this.base = response.data;

        }) */
    }

  }).mount('#app')
</script>
